{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'cart/css/cart_detail.css' %}">
{% endblock %}

{% block title %}Cart{% endblock %}

{% block content %}
<div class="container">
  <h1>Cart</h1>
  <table class="cart-table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th class="product-remove"></th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        <tr class="cart">
          <td class="product">
            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
            <div class="name">{{ item.product.name }}</div>
          </td>
          <td class="price">${{ item.product.price|floatformat:2 }}</td>
          <td class="quantity">
              <input type="number" class="quantity-input" data-product-id="{{ item.product.id }}" name="quantity" value="{{ item.quantity }}" min="1">
          </td>

          <td>${{ item.total_price|floatformat:2 }}</td>

          <td class="product-remove">
            <a href="{% url 'cart:remove_from_cart' item.product.id %}" class="remove-item">&times;</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">Your cart is empty.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="cart-total">
    <h2>Total: ${{ cart.get_total_price|floatformat:2 }}</h2>
  </div>
  <div>
    <a href="{% url 'cart:checkout' %}" class="checkout-button">Order</a>
    <a href="{% url 'shop:product_list' %}" class="btn">Continue Shopping</a>
  </div>
</div>

{% block extra_js %}
<script>
  $('.remove-from-cart').on('click', function (event) {
    event.preventDefault();
    const productId = $(this).data('product-id');
    $.ajax({
        url: `/cart/remove/${productId}/`,
        method: 'POST',
        data: { 'csrfmiddlewaretoken': '{{ csrf_token }}' },
        success: function () {
            location.reload();
        }
    });
  });


  $(document).ready(function() {
    $('.quantity-input').on('change', function() {
        var newQuantity = $(this).val();
        var productId = $(this).data('product-id');

        $.ajax({
            url: '/cart/update/' + productId + '/',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'quantity': newQuantity
            },
            success: function(response) {
                console.log('AJAX success:', response);
                location.reload();
            },
            error: function(response) {
                console.log('AJAX error:', response);
                alert('There was an error. Please try again.');
            }
        });
    });
  });




</script>
{% endblock %}

{% endblock %}

