{% extends 'base.html' %}

{% block title %}Корзина{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-5">Корзина</h1>
                <p class="text-center">Здесь вы можете просмотреть и изменить товары в вашей корзине.</p>
            </div>
        </div>
        <!-- Здесь вы можете добавить таблицу или список товаров с описаниями, изображениями, ценами и количеством -->
        <!-- Также добавьте кнопку для оформления заказа и возможность изменять количество товаров или удалять их из корзины -->
    </div>
{% endblock content %}
