{% extends 'base.html' %}
{% load static %}

{% block title %}Shop{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'shop/css/product_list.css' %}">
{% endblock %}

{% block content %}
<div class="banner">
  <h1>Shop</h1>
</div>

<div class="categories">
  <a href="{% url 'shop:product_list' %}">All</a>
  {% for category in categories %}
    <a href="{% url 'shop:product_list_by_category' category.slug %}">{{ category.name }}</a>
  {% endfor %}
</div>

<div class="products-container">
  <div class="products-grid">
    {% for product in products %}
    <div class="product-item">
      <a href="{% url 'shop:product_detail' product.id %}">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <div class="product-info">
          <h2>{{ product.name }}</h2>
          <span>${{ product.price }}</span>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}


